body{
  background-color: #24292f;
  text-align: center;
  color: white;
  font-family: helvetica;
}

h1 {
  font-size: 450%;
}


.question{
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: solid white;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 70vw;
}

.liste-question{
  margin: auto;
}

.propositions{
  vertical-align: text-bottom;
}
