<!doctype html>
<title>SIEM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
 <h1> SIEM </h1>
 <form action="" method="post" class="liste-question">
  {% for question in questions %}
    <div class="question"><h2> {{ questions[question]["question"] }} </h2>
      <div class="propositions">
      {% for prop in questions[question]["proposition"] %}
      <div class="prop"> <input type="checkbox" name={{question}} value={{prop}}> {{ prop }} </input> </div>
      {%endfor %}
      <input type="hidden" name="uuid" value={{question}}> </input>
    </div>
    </div>
  {% endfor %}
  <input type="submit">
</form>
