<!doctype html>
<title>SIEM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
 <h1> SIEM </h1>
 <form action="" method="post" class="form-example">
  {% for question in questions %}
  <div class_="flash"> {{ questions[question]["question"] }}
    {% for prop in questions[question]["proposition"] %}
    <div class="prop"> <input type="checkbox" name={{question}} value={{prop}} {{ "checked" if prop in result[question] }}> {% if prop in questions[question]["reponse"] %}
                                                                              <span> {{ prop }} <- </span>
                                                                            {% else  %}
                                                                              <span> {{ prop }} </span>
                                                                            {% endif %}
  </input> </div>
    {%endfor %}
    <input type="hidden" name="uuid" value={{question}}> </input>
  </div>
  {% endfor %}
  {{ score[1] }} / {{ score[0] }}
</form>
